[submodule "tools/librealsense"]
	path = tools/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
	branch = master
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-master
